@import url("style.css");
@font-face {
    font-family: 'Cairo';
    src: url('./assets/font/Cairo-Regular.eot');
    src: url('./assets/font/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/font/Cairo-Regular.woff2') format('woff2'),
        url('./assets/font/Cairo-Regular.woff') format('woff'),
        url('./assets/font/Cairo-Regular.ttf') format('truetype'),
        url('./assets/font/Cairo-Regular.svg#Cairo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
body p,
body a,
body span,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body h1 span,
body h2 span,
body h3 span,
body h4 span,
body h5 span,
body,
label,
input,
select,
button,
ul,
li {
    font-family: 'Cairo', 'Open Sans' !important;
}

.nav-toggle {
    position: absolute;
    bottom: 0;
    right: auto;
    left: 0;
    top: 0;
    width: 6.6rem;
}

.paragraphs-details {
    border-right: 3px solid var(--secondary);
    border-left: unset;
}
.home-page-section .home-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.all-values {
    direction: ltr;
}
#experienceTab.nav-pills .nav-link.active:before {
    right: -12px;
    left: 0;
}
ul#experienceTab {
    padding-right: 0;
}
.text-left {
    text-align: right !important;
}
.tab-content {
    border-right: 3px solid var(--secondary);
    border-left: unset;
}
form.wpcf7-form.init {
    direction: rtl;
}